body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(https://guikao.files.wordpress.com/2012/01/pokemon_wallpaper01_1680.jpg);
}

.topo {
  width: 100%;
  height: 64px;
  background: #000000;
  border: solid 1px #333333;
  box-sizing: border-box;
  color: white;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.poke-logo {
  width: 44px;
  height: 44px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 22px;
}

.title-main {
  font-family: "Mynerve", cursive;
  font-size: 22px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 64px;
  padding-bottom: 74px;
  padding-top: 24px;
}

@media (max-width: 768px) {
  .container {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.pokedex-number {
  position: absolute;
  top: 6%;
  right: 6%;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}

.pokemon {
  width: 152px;
  height: 152px;
  background: url(https://img.freepik.com/vetores-premium/fundo-hexagonal-de-tecnologia-verde-escuro_156943-364.jpg);
  object-fit: cover;
  margin: 12px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}

.capture {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  position: absolute;
  top: 6%;
  left: 6%;
}

.selected {
}

.img-pokemon {
  width: 98px;
  height: 98px;
  object-fit: cover;
}

.name-pokemon {
  font-family: "VT323", monospace;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.menu {
  width: 80%;
  height: 74px;
  background: linear-gradient(red, #990000);
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: solid 4px #990000;
}

.circle {
  background: #3366ff;
  box-sizing: border-box;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seta {
  background: black;
  width: 48px;
  height: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.bright {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: white;
}
